{{define "content"}}
<div class="wrapper">

    <form class="login-form" method="POST" onsubmit="checkMatch()">

        <div class="logo-wrapper">
            <a href="/"><img class="logo" src="/assets/logo.png" alt="Guard"></a>
            <h1>Add a new user</h1>
        </div>

        {{ if .alreadyTaken }}
        <div class="notif-wrapper error">
            <p>This username has already been taken.</p>
        </div>
        {{ end }}

        <div class="input-wrapper">
            <input type="text" name="username" placeholder="Username" autofocus="">
        </div>

        <div class="input-wrapper">
            <input type="password" name="Password" id="pwd" placeholder="New password">
        </div>

        <div class="input-wrapper">
            <input type="password" placeholder="Password, again" id="pwd2" oninput="checkMatch()">
        </div>

        <div class="input-wrapper-checkbox">
            <label for="make_admin">Make admin?</label>
            <input type="checkbox" name="make_admin" id="make_admin">
        </div>
	
    	<div class="login-wrapper">
            <button type="submit">Add</button>
        </div>

      <script>
      function checkMatch() {
          let pwd = document.querySelector("#pwd");
          let pwd2 = document.querySelector("#pwd2");

          if(pwd.value !== pwd2.value) {
              pwd2.classList.add('input-error');
              return false;
          } else {
              pwd2.classList.remove('input-error');
          }
      }
      </script>

    </form>
</div>

{{end}}
